@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-Regular.eot');
  src: url('./scss/src/fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-Regular.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-Regular.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-Regular.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-Bold.eot');
  src: url('./scss/src/fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-Bold.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-Bold.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-Bold.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-LightItalic.eot');
  src: url('./scss/src/fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-LightItalic.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-LightItalic.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-LightItalic.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-Light.eot');
  src: url('./scss/src/fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-Light.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-Light.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-Light.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-Italic.eot');
  src: url('./scss/src/fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-Italic.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-Italic.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-Italic.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-BoldItalic.eot');
  src: url('./scss/src/fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-BoldItalic.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-BoldItalic.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-MediumItalic.eot');
  src: url('./scss/src/fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-MediumItalic.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-MediumItalic.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./scss/src/fonts/Ubuntu-Medium.eot');
  src: url('./scss/src/fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
      url('./scss/src/fonts/Ubuntu-Medium.woff2') format('woff2'),
      url('./scss/src/fonts/Ubuntu-Medium.woff') format('woff'),
      url('./scss/src/fonts/Ubuntu-Medium.ttf') format('truetype'),
      url('./scss/src/fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}